$verdana: unquote("Verdana, Arial, Helvetica, sans-serif");
$arial: unquote("Arial, Helvetica, sans-serif");
$lucida: unquote("Lucida Grande,sans-serif");

$text_font: $arial;
$input_font: $lucida;
$header_font: $verdana;
$navigation_font: $arial;

@mixin rounded-border($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-border-with-shadow($radius, $colour) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-box-shadow: 0 0 6px $colour;
  -webkit-box-shadow: 0 0 6px $colour;
}

$label_width: 5em;
$form_width: 60em;
$input_width: 85%;

body {
  background-color: white;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  width: 890px;
  margin-left: auto;
  margin-right: auto;

  #header {
    margin: 20px auto 20px auto;
    height: 110px;

    #title {
      a {
        color: #0e0a0b;
        margin: 35px 0 0 100px;
        padding: 1ex 0ex;
        font-family: Lucida Grande,sans-serif;
        font-size: 40pt;
        float: left;
        text-decoration: none;
      }
    }

    .user-details {
      margin: 10px 10px 40px 26px;
      height: 32px;
    }

    #user_nav {
      float: right;
      a {
        color: gray;
        text-decoration: none;
        font-size: 9pt;
      }
    }
  }

  #main {
    margin-top: 60px;

    a {
      color: #333333;
      text-decoration: none;
      padding: 0 2px;
      border: 1px solid #baaeae;

      &:hover {
        text-decoration: none;
        border: 1px solid #ffffff;
      }
    }

    td,th {
      padding: 2px 10px;
    }
  }
}


#error_explanation, .flash, .nodata, .warning {
  padding: 5px 15px;
  font-size: 1.1em;
  border: 1px solid;
  margin: 0 0 20px 0;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#error_explanation {
  margin: 5px 0;
}

.flash.error, .flash.alert, #error_explanation {
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #550000;
}

.flash.notice, .flash.success {
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}

.flash.warning {
  background-color: #ffebc1;
  border-color: #fdbf3b;
  color: #a6750c;
}

#error_explanation ul {
  font-size: 0.9em;
  margin: 0;
}

#error_explanation h2, #error_explanation p {
  display: none;
}

.actions {
  margin: 25px 0;
}

.field {
  input, textarea, select {
    margin: 5px 0 0 0;
    border: 1px solid #cccccc;
    -moz-box-shadow: 0 0 10px #eeeeee inset;
    &.button {
      padding: 2px 5px;
      margin: 0;
      color: white;
      background-color: #498ce2;
      border: 1px solid #eeeeee;
      cursor: pointer;
      text-shadow: 0 0 6px #eeeeee;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-box-shadow: 0 0 6px #cccccc;
      -webkit-box-shadow: 0 0 6px #cccccc;
    }
    &.checkbox {
      margin: 5px 0;
      border: none;
      padding: 0;
    }
    &.date {
      margin: 5px 0 0 0;
    }
  }
  margin: 5px 0;
}

.field {
  textarea {
    width: 300px;
    height: 100px;
  }
}

.separator {
  height: 10px;
}
