body {
  background-color: white;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

div .container {
  background-color: white; }
div #header {
  height: 72px;
  margin: 0px 26px;
  min-width: 890px;
  background: url(../images/logo.png) no-repeat 0 100%; }
  div #header #title a {
    color: #007d96;
    margin-left: 10px;
    padding: 1ex 0ex;
    font-size: 40pt;
    float: left;
    text-decoration: none; }

.user-details {
  margin: 10px 10px 40px 26px;
  height: 32px; }
  .user-details .image {
    padding: 6px;
    float: left; }
  .user-details .bio {
    padding: 0px; }
    .user-details .bio #user_nav {
      float: right; }
      .user-details .bio #user_nav a {
        color: gray;
        text-decoration: none;
        font-size: 9pt; }
    .user-details .bio .name {
      font-weight: bold; }

.article-group .date-header {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 6px #e0dfce;
  -webkit-box-shadow: 0 0 6px #e0dfce;
  margin: 10px 10px 10px 26px;
  padding: 5px;
  background: #f6f5e2;
  border: 1px solid #e0dfce; }
.article-group .article {
  height: 110px;
  margin: 10px 10px 10px 26px; }
  .article-group .article .time {
    color: gray;
    font-size: 10px;
    margin: 5px 5px 5px 0px;
    padding: 4px 0;
    width: 52px;
    float: left; }
  .article-group .article .content {
    margin: 5px 0;
    padding: 4px 0;
    width: 50%;
    float: left; }
    .article-group .article .content .title a {
      color: #4d5a77;
      text-decoration: none; }
      .article-group .article .content .title a:hover {
        text-decoration: underline; }
    .article-group .article .content .summary {
      padding: 4px 0 0 0;
      overflow: hidden;
      color: gray; }
    .article-group .article .content .meta {
      font-size: 11px; }
  .article-group .article .tweet {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 6px #e0dcdc;
    -webkit-box-shadow: 0 0 6px #e0dcdc;
    border: 1px solid #e0dcdc;
    margin: 5px 0;
    padding: 4px 6px;
    width: 36%;
    background: #f1f0ec;
    font-size: 11px;
    float: right; }
    .article-group .article .tweet a {
      color: #333333;
      text-decoration: none;
      font-style: italic; }
      .article-group .article .tweet a:hover {
        text-decoration: underline; }

#error_explanation, .flash, .nodata, .warning {
  padding: 5px 15px;
  font-size: 1.1em;
  border: 1px solid;
  margin: 5px 20px 0 20px;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#error_explanation {
  margin: 5px 0; }

.flash.error, .flash.alert, #error_explanation {
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #550000; }

.flash.notice, .flash.success {
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00; }

.flash.warning {
  background-color: #ffebc1;
  border-color: #fdbf3b;
  color: #a6750c; }

#error_explanation ul {
  font-size: 0.9em;
  margin: 0; }

#error_explanation h2, #error_explanation p {
  display: none; }
