%h1
  Welcome to The Tour de Feb.

%p
  Tour de Feb aims to get people to cycle every day in February. It was
  inspired by Janathon but given that I cycle but don't run I thought I'd
  start a cycling version.

%p
  My main motivation for starting this is that I enjoy cycling but getting 
  on the bike can sometimes be a bit of a challenge! So to ensure that I
  actually get on my bike, at least for one month, I thought I'd start this
  site.

%p
  There are some rules but they are very simple:

%ul
  %li you must cycle every day,
  %li you must record how far (or how long) you cycled and
  %li you must either blog or tweet.

%p
  The aim isn't to ride as far as you possibly can but to pick a goal and
  try to achieve it. That goal might be to cycle 100 kms a week but it
  might be to learn better handling skills in which case you might only
  travel a few kms but you might spend a fair amount fo time doing this.


%h2 Instructions

%ul
  %li== Sign up #{link_to 'here', new_user_registration_url}
  %li when you've finished your ride add the details (time or distance)
  %li write a blog post or tweet.

%p
  I've set up a twitter account so if you add your twitter details I'll
  follow you.

%p
  And that's about it. So sign and start peddling!
